<!DOCTYPE>
<html ng-app="myReg">
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
        <title>Contact List App</title>

    </head>

    <body>
        <div class="container" ng-controller="RegCtrl">
            <div class="row">
                <div class="col-sm-offset-2">
                    <h1>User Registration</h1>
                </div>
            </div>

            <form name="registerForm" novalidate>
                <div class="row">
                    <div class="form-group col-sm-4 col-sm-offset-2" ng-class="{'has-error' : registerForm.fname.$invalid && registerForm.fname.$dirty}">
                        <label for="fname" class="control-label">Firstname:</label>
                        <input type="text" class="form-control" id="fname"
                        name="fname"
                        placeholder="John"
                        ng-required="true"
                        ng-model="person.fname">
                        <span class="help-block" ng-show="registerForm.fname.$error.required && registerForm.fname.$dirty">Firstname is required</span>
                    </div>
                    <div class="form-group col-sm-4" ng-class="{'has-error' : registerForm.lname.$invalid && registerForm.lname.$dirty}">
                        <label for="lname" class="control-label">Lastname:</label>
                        <input type="text" class="form-control" id="lname"
                        name="lname"
                        placeholder="John"
                        ng-required="true"
                        ng-model="person.lname">
                        <span class="help-block" ng-show="registerForm.lname.$error.required && registerForm.lname.$dirty">Lastname is required</span>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-sm-8 col-sm-offset-2" ng-class="{'has-error' : registerForm.idNum.$invalid && registerForm.idNum.$dirty}">
                        <label for="idNum" class="control-label">ID:</label>
                        <input type="text" class="form-control" id="idNum"
                        name="idNum"
                        placeholder="RSA ID Number"
                        ng-minlength="13"
                        ng-maxlength="13"
                        ng-model="person.id">
                        <span ng-show="registerForm.idNum.$error.minlength && registerForm.lname.$dirty">ID needs to be 13 digits</span>
                        <span ng-show="registerForm.idNum.$error.maxlength && registerForm.lname.$dirty">ID needs to be 13 digits</span>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-sm-8 col-sm-offset-2" ng-class="{'has-error' : registerForm.email.$invalid  && registerForm.email.$touched}">
                        <label for="email" class="control-label">Email:</label>
                        <input type="email" class="form-control" id="email"
                        name="email"
                        placeholder="john@doe.com"
                        ng-model="person.email">

                        <span ng-show="registerForm.email.$error.email  && registerForm.email.$touched">Valid email required</span>

                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-sm-8 col-sm-offset-2" ng-class="{'has-error' : registerForm.password1.$invalid}">
                        <label for="password1" class="control-label">Password:</label>
                        <input type="password" class="form-control" id="password1"
                        name="password1"
                        placeholder=""
                        ng-minlength="8"
                        ng-model="person.password1">
                        <span ng-show="registerForm.password1.$dirty && registerForm.password1.$error.minlength">Password is to short</span>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-sm-8 col-sm-offset-2" ng-class="{'has-error' : registerForm.password2.$invalid}">
                        <label for="password2" class="control-label">Confirm Password:</label>
                        <input type="password" class="form-control" id="password2"
                        name="password2"
                        placeholder=""
                        ng-minlength="8"
                        ng-model="person.password2">
                        <span ng-show="registerForm.password2.$dirty && registerForm.password2.$error.minlength">Password is to short</span>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-sm-8 col-sm-offset-2">
                        <button class="btn btn-info" ng-click="addPerson(registerForm)">Register</button>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-sm-8 col-sm-offset-2 message">
                    </div>
                </div>
            </form>
        </div>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-rc.0/angular-messages.min.js"></script>
        <script src="controllers/registerCtrl.js"></script>
    </body>
</html>
